.not-found {
    padding: 100px;
}

.not-found-container {
    padding: 100px 200px;
    background-image: url(../../assets/images/http-error-404-not-found.png);
    color: black;
    border-radius: 10px;
    border: none;
    box-shadow: 30px 30px 10px rgba(0, 0, 1, 1);
}