/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Montserrat',sans-serif;
}
html, body { height: 100%; }
body { 
    margin: 0;
    background-image: linear-gradient(to bottom, black, orange);
}
