h1{
  color: white;
  margin-left: 10px;
}

h2 {
  color: orange;
  margin-left: 10px;
}

img {
  margin-left: 45%;
  margin-bottom: 5%;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.color-helper-column {
  display: flex;
  flex-direction: column;
}

.color-helper-row {
  display: flex;
  flex-direction: row;
}
a {
  float: right;
  font-weight: bold;
  display: block;
  color: orange;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

a:hover {
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.content-container {
  background-color: black;
  border-radius: 10px;
  width: 50%;
  margin-left: 25%;
}