table {
  width: 40%;
  margin-left: 25%;
}

table,
th,
td {
  border: 1px solid white;
  box-shadow: 30px 30px 10px rgba(0, 0, 1, 1);
  border-collapse: collapse;
  padding: 20px;
}

th,
td {
  background-color: orange;
}
a {
  float: right;
  font-weight: bold;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  border-radius: 10px;
}

a:hover {
  font-weight: bold;
  color: white;
  cursor: pointer;
}