<div class="card-container">
    <div class="card">
        <h2>Add Event</h2>
        <div class="card-content">
            <form [formGroup]="form" (submit)="addEvent(template)">
                <input type="text" placeholder="Event Title" formControlName="eventTitle">
                <br>
                <input type="number" placeholder="Employee ID" formControlName="employeeId">
                <br>
                <textarea name="" id="" cols="30" rows="10" placeholder="Event Description"
                    formControlName="eventDescription">
                </textarea>
                <br>
                <input type="text" placeholder="Datepicker" bsDatepicker formControlName="datePicked"
                    [bsConfig]="{ adaptivePosition: true }">
                <br>
                <button class="btn-submit" type="submit">Submit</button>
                <ng-template #template>
                    <div class="modal-header" style="background-color: greenyellow; text-align: center;">
                        <h4 class="modal-title pull-left">Event</h4>
                        <button type="button" class="btn-close close pull-right" aria-label="Close"
                            (click)="modalRef?.hide()">
                            <span aria-hidden="true" class="visually-hidden">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <h3>You Successfully Added An Event On:</h3>
                        {{this.datePicked}}
                        <br>
                        <hr>
                        <h3>The Event Title:</h3>
                        {{this.eventTitle}}
                        <br>
                        <hr>
                        <h3>Discussing:</h3>
                        {{this.eventDescription}}
                        <br>
                        <hr>
                        View the changes on "Upcomming Events"
                    </div>
                </ng-template>
            </form>
        </div>
    </div>
</div>