<div class="card-container">
    <div class="card">
        <form [formGroup]="form" (submit)="addEvent()">
            <input type="text" placeholder="Event Title" formControlName="eventTitle">
            <br>
            <input type="number" placeholder="Employee ID" formControlName="employeeId">
            <br>
            <textarea name="" id="" cols="30" rows="10" placeholder="Event Description" formControlName="eventDescription">
            </textarea>
            <br>
            <input type="text" placeholder="Datepicker" bsDatepicker formControlName="datePicked"
                [bsConfig]="{ adaptivePosition: true }">
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>