* {
    border: none;
}

.container {
    width: 100%;
}

hr {
    border: 1px solid black;
}

.card {
    margin-left: 25%;
    margin-top: 10px;
    background-color: orange;
    width: 20%;
    border-radius: 10px;
    border: 1px solid orange;
    box-shadow: 30px 30px 10px rgba(0, 0, 1, 1);
    position: fixed;
}

.card-content {
    background-color: black;
    border-radius: 0px 0px 10px 10px;
}

h2 {
    margin-top: 10px;
    text-align: center;
}

form {
    margin-top: 10px;
    text-align: center;
}

input {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 65%;
    box-shadow: 10px 10px 10px rgba(0, 0, 1, 1);
}

textarea {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 10px 10px 10px rgba(0, 0, 1, 1);
}

.btn-submit {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    margin: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 1, 1);
}

.btn-submit:hover {
    background-color: orange;
    color: white;
}