.img-wrapper {
  width: 100%;
}

img {
  margin-left: 45%;
  margin-bottom: 5%;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

table {
  width: 40%;
  margin-left: 25%;
}

table,
th,
td {
  border: 1px solid white;
  box-shadow: 30px 30px 10px rgba(0, 0, 1, 1);
  border-collapse: collapse;
  padding: 20px;
}

th,
td {
  background-color: orange;
}