.card-container{
    padding: 20px;
    background-color: orange;
    color: black;
    border-radius: 10px;
    border: none;
    box-shadow: 30px 30px 10px rgba(0, 0, 1, 1);
}

.card{
    padding: 20px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 1, 1);
}