<div class="img-wrapper">
    <img src="{{'./assets/images/user.png'}}">
</div>
<div class="color-helper-column">
    <div class="color-helper-row">
        <h1>Name:</h1>
        <h2>{{employee.employeeName}}</h2>
    </div>
    <div class="color-helper-row">
        <h1>Job Title:</h1>
        <h2>{{employee.jobTitle}}</h2>
    </div>
    <div class="content-container" *ngIf="currentUserEducation.length != 0">
        <h1 style="padding: 10px;">Education <fa-icon [icon]="faGraduationCap"></fa-icon> :</h1>
        <hr>
        <div *ngFor="let education of currentUserEducation">
            <div class="color-helper-row">
                <h1 style="margin-left: 20px;">School:</h1>
                <h2 style="margin-left: 20px;">{{education.school}}</h2>
            </div>
            <div class="color-helper-row">
                <h1 style="margin-left: 20px;">Degree:</h1>
                <h2 style="margin-left: 20px;">{{education.degree}}</h2>
            </div>
            <hr>
        </div>
    </div>
    <div class="content-container" style="margin-top: 50px;" *ngIf="currentUserExperience.length != 0">
        <h1 style="padding: 10px;">Experience <fa-icon [icon]="faBriefCase"></fa-icon> :</h1>
        <hr>
        <div *ngFor="let experience of currentUserExperience">
            <div class="color-helper-row">
                <h1 style="margin-left: 20px;">Title:</h1>
                <h2 style="margin-left: 20px;">{{experience.title}}</h2>
            </div>
            <div class="color-helper-row">
                <h1 style="margin-left: 20px;">Company Name:</h1>
                <h2 style="margin-left: 20px;">{{experience.companyName}}</h2>
            </div>
            <hr>
        </div>
    </div>
</div>