.img-wrapper {
  width: 100%;
}

h1{
  color: white;
  text-align: center;
}

h2 {
  color: orange;
  margin-left: 10px;
}

img {
  margin-bottom: 5%;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.color-helper-column {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}

.color-helper-row {
  display: flex;
  flex-direction: row;
}

hr {
  color: white;
}

.content-container {
  background-color: black;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}