.card-container {
    background-color: orange;
    color: black;
    text-align: center;
    border-radius: 10px;
    border: 1px solid orange;
    box-shadow: 30px 30px 10px rgba(0, 0, 1, 1);
    width: 30%;
    align-content: center;
    margin-left: 35%;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    margin-top: 20px;
    padding: 20px;
    width: auto;
    border-radius: 20px;
    border: none;
    text-align: center;
}

button {
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    width: auto;
    border-radius: 20px;
    border: none;
    padding: 15px;
}

button:hover {
    cursor: pointer;
    background-color: orange;
    color: black;
}
.card{
    display: flex;
    padding: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 0px 0px 10px 10px;
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 1, 1);
}