<div class="card-container">
    <h1>Register Employee</h1>
    <div class="card">
        <form [formGroup]="form" (ngSubmit)="register()">
            <input placeholder="Employee Name" formControlName="employeeName">
            <input placeholder="Job Title" formControlName="jobTitle">
            <input type="password" placeholder="Password" formControlName="password">
            <br>
            <button [disabled]="!form.valid" type="submit">Register</button>
        </form>
    </div>
</div>