<div cdkDropListGroup>
    <div class="example-container">
      <h2 style="text-align: center;">Active Projects</h2> 
      <div
        cdkDropList
        [cdkDropListData]="Active"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let active of Active; index as i" cdkDrag>
            Project Id: {{active.projectId}} <br>
            Project Description: {{active.shortDescription}}
            <button routerLink="project-detail" (click)="setProjectActive(i)">View Project</button>
        </div>
      </div>
    </div>
    <div class="example-container">
      <h2 style="text-align: center;">Finished Projects</h2>
      <div
        cdkDropList
        [cdkDropListData]="Finished"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let finished of Finished; index as i" cdkDrag>
            Project Id: {{finished.projectId}} <br>
            Project Description: {{finished.shortDescription}}
            <button routerLink="project-detail" (click)="setProjectFinished(i)">View Project</button>
        </div>
      </div>
    </div>
    <div> 
      <button class="btn-add" routerLink="add-project">Add Project</button>
      <button class="btn-add" (click)="save()">Save</button>
    </div>
  </div>
  