 .navbar {
    overflow: hidden;
    background-color: orange;
    position: fixed;
    top: 0%;
    width: 100%;
    opacity: 0.7;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: black;
    color: white;
    opacity: 0.7;
    border-radius: 20px;
  }