<div class="nav-container">
    <div class="navbar">
        <ul>
            <li>
                <a routerLink="/employees" routerLinkActive="isActive" *ngIf="accountService.currentEmployee$ | async">
                    Employees
                </a>
            </li>
            <li>
                <a routerLink="/events" routerLinkActive="isActive" *ngIf="accountService.currentEmployee$ | async">
                    Events
                </a>
            </li>
            <li>
                <a routerLink="/register" routerLinkActive="isActive"
                    *ngIf="(this.currentEmployee.isAdmin) && (accountService.currentEmployee$ | async)">
                    Register Employee
                </a>
            </li>
            <li>
                <a routerLink="/login" routerLinkActive="isActive" *ngIf="!(accountService.currentEmployee$ | async)">
                    LogIn
                </a>
            </li>
        </ul>
    </div>
    <div class="dropdown" *ngIf="accountService.currentEmployee$ | async">
        <button class="dropbtn">
            Welcome {{this.currentEmployee.employeeName}} <i class="arrow down"></i>
        </button>
        <div class="dropdown-content">
            <a routerLink="/login" routerLinkActive="isActive" (click)="logOut()">
                <fa-icon [icon]="faArrowRightFromBracket" style="float: left;" [size]="'lg'"></fa-icon>
                LogOut
            </a>
            <a routerLink="/edit" routerLinkActive="isActive" class="edit" routerLink="/edit">
                <fa-icon [icon]="faPenToSquare" style="float: left;" [size]="'lg'"></fa-icon>
                Edit Profile
            </a>
        </div>
    </div>
</div>