<div class="container">
  <div class="content">
    <div class="content-unchanged">
      <h2>{{currentEmployee.employeeName}}</h2>
      <h2>{{currentEmployee.jobTitle}}</h2>
    </div>
    <hr>
    <h2>Education</h2>
    <button class="btn-add" (click)="openModal(templateEducation)"><fa-icon [icon]="faSquarePlus"
        [size]="'2x'"></fa-icon>
    </button>
    <hr>
    <h2>Experience</h2>
    <button class="btn-add" (click)="openModal(templateExperience)"><fa-icon [icon]="faSquarePlus"
        [size]="'2x'"></fa-icon>
    </button>
  </div>
</div>

<ng-template #templateEducation>
  <div class="modal-header" style="background-color: greenyellow; text-align: center;">
    <h4 class="modal-title pull-left">Add Education</h4>
    <button type="button" class="btn-close close pull-right" style="width: 5%;" aria-label="Close"
      (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="text-align: center;">
    <form>
      <input type="text" placeholder="School">
      <br>
      <input type="text" placeholder="Degree">
      <br>
      <hr>
      <button class="btn-save" (click)="saveEducation()">Save</button>
    </form>
  </div>
</ng-template>

<ng-template #templateExperience>
  <div class="modal-header" style="background-color: greenyellow; text-align: center;">
    <h4 class="modal-title pull-left">Add Experience</h4>
    <button type="button" class="btn-close close pull-right" style="width: 5%;" aria-label="Close"
      (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="text-align: center;">
    <form>
      <input type="text" placeholder="Title">
      <br>
      <input type="text" placeholder="Company Name">
      <br>
      <hr>
      <button class="btn-save" (click)="saveExperience()">Save</button>
    </form>
  </div>
</ng-template>