.container {
    background-color: orange;
    padding: 0px;
    border-radius: 10px;
}

.btn-add {
    color: black;
    background-color: orange;
    margin-left: 20px;
    border: none;
    margin-right: 0px;
}

button:hover {
    color: rgb(69, 197, 69);
}

.content {
    color: black;
    font-weight: bold;
    width: 100%;
}

.content-unchanged {
    text-align: center;
}

h2 {
    margin-left: 20px;
}

input {
    margin-top: 10px;
    padding: 10px;
}

.btn-save {
    display: flex;
    float: right;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: aqua;
    border: none;
}

.btn-save:hover {
    background-color: rgb(104, 149, 216);
    color: white;
}

.card-container {
    width: 20%;
}

.card {
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    height: 90%;
    margin: 10px;
    color: white;
    font-size: large;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.icon-container {
    text-align: end;
}