.card-container{
    padding: 10px;
    background-color: orange;
    color: black;
    opacity: 0.7;
    border-radius: 10px;
}

.card{
    padding: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    opacity: 1;
    border-radius: 10px;
}