.card-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: orange;
    color: black;
    opacity: 0.7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    box-shadow: 30px 30px 10px rgba(0, 0, 1, 1);
}

.heading {
    background-color: orange;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-sizing: border-box;
    opacity: 0.7;
}

.isGreater {
    color: red;
}

h1 {
    text-align: center;
}

.card {
    padding: 20px;
    margin: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 1, 1);
    width: 350px;
    height: 100px;
}

.card .btn {
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 6px;
}

.btn:hover {
    cursor: pointer;
    background-color: orange;
    color: black;
}